# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/

# Mac
.DS_Store

# LaTex
/doc/doc.aux
/doc/doc.log
/doc/doc.out
/doc/doc.synctex.gz
/doc/doc.toc

# Jar xecution
storage_folder

# .py env
/functional_testing/env.py